.container{
	font-family: "Nexa Bold", "Nexa Light";
	font: "Nexa Bold", "Nexa Light";
}
.btn{
	background-color: #fc4f00;
	color:rgba(255,255,255,1.00);
}

.header{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
}







